{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href={% static "style.css"%}>
    <body>
        <a href="{% url "Pagina_index" %}">Página inicial</a>
        <P>
            Pagina de vendedor
        </p>
        
        
        <ul>
            {%  for vendedores in vendedor %}

                <li>
                    {{vendedores.nome_vendedor}} - {{vendedores.matricula}} - {{vendedores.email}} - {{vendedores.contato}}
                </li>
           {% endfor%}
                
        </ul> 
        
         
       
    </body>
</html>